/.vs
/TechStore.User/bin
/TechStore.User/obj
/TechStore.Products/bin
/TechStore.Products/obj
/TechStore.User.Test/bin
/TechStore.User.Test/obj
/TechStore.Products.Test/bin
/TechStore.Products.Test/obj